#sidebar {
    transition: width .18s ease, transform .18s ease;
}

#sidebar.collapsed {
    width: 5rem !important;
}

#sidebar.collapsed nav span {
    display: none;
}

#sidebar.collapsed .logo-text {
    opacity: 0;
}

#sidebar.collapsed .stat-info {
    display: none;
}

#sidebar.collapsed .menu-item {
    justify-content: center;
}

#mainContent {
    transition: margin .18s ease;
}