.toast-catalog {
    /*position: absolute;*/
    opacity: 1;
    transition: opacity 0.5s ease;
    /*z-index: 9999;*/
}

.toast-hide {
    opacity: 0;
}

.mdl-title-message{
    text-align: center;
}

.message-description{
    text-align: justify;
}

.brandIds, .modelIds, .supplierIds, .categoryIds {
    width: 18px;
    height: 18px;
}